@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url(../fonts/MuseoSansCyrl-500.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url(../fonts/MuseoSansCyrl-700.woff2) format('woff2');
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url(../fonts/MuseoSansCyrl-300.woff2) format('woff2');
    font-weight: 300;
}