* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer; background-color: inherit;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400; margin: 0;}
/***********************************************************************************************************/
@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7\ \(mono\).ttf');
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}
/***********************************************************************************************************/
.header nav {
    min-height: 80px;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 700;
}

.navbar-nav {
    column-gap: 50px;
}

.nav-link {
    text-align: center;
}

#signUp {
    background-color: white;
    color: #212529;
    border-radius: 10px;
}

.main-secondary {
    flex: 1 1 auto;
    padding: 30px 15px;
    color: white;
    background-color: #1a1d20;
}

.footer {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.footer p {
    margin-bottom: 0px;
}
/***********************************************************************************************************/
.main-page {
    flex: 1 1 auto;
    background-color: #1a1d20;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    row-gap: 30px;
}

.clock {
    display: flex;
    padding: 30px 60px;
    color: yellow;
    column-gap: 100px;
    font-size: 100px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.55);
    font-family: 'Digital-7', sans-serif;
    border-radius: 10px;
}

.clock span {
    font-size: 200px;
}

.clock span:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    column-gap: 30px;
}

.buttons img {
    max-width: 100%;
}

/***********************************************************************************************************/
.btn-primary {
    margin-right: 20px;
}

.form-check {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
/***********************************************************************************************************/
.main-about__alert {
    text-align: center;
}
/***********************************************************************************************************/
.main-profile__table th {
    padding: 20px;
}
.main-profile__table td {
    padding: 20px;
}
.main-profile__table ul {
    padding: 0;
}
/***********************************************************************************************************/
.main-about p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55); 
}
@media (max-width: 991.98px) {
    .clock {
        padding: 20px 40px;
        column-gap: 80px;
        font-size: 80px;
        text-align: center;
        border: 2px solid rgba(255, 255, 255, 0.55);
    }
    
    .clock span {
        font-size: 160px;
    }
}

@media (max-width: 767.98px) {
    .clock {
        padding: 10px 20px;
        column-gap: 40px;
        text-align: center;
        border: 2px solid rgba(255, 255, 255, 0.55);
    }
}

@media (max-width: 600px) {
    .clock {
        padding: 10px 20px;
        column-gap: 16px;
        font-size: 40px;
        text-align: center;
        border: 2px solid rgba(255, 255, 255, 0.55);
    }
    
    .clock span {
        font-size: 80px;
    }

    .page {
        justify-content: center;
    }

    .buttons img {
        max-width: 50px;
    }
}